:root{
    --dark: #364182;
    --mddark: #e07dd1;
    --medium: #EDAAF0;
    --light: white;
    /*--light: #fcd6d6;*/
    /*--light: #fac2c2;*/
    --red: #ff5757;
    --orange: #ff5789;
    /*--sans: 'Oxygen', sans-serif;*/

    --sans: 'League Spartan', sans-serif;
    --mono: 'Oxygen Mono', monospace;
}

/*-------------------------Main content-------------------------*/

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.content img {
    width: 20%;

    padding: 1rem;

    border-bottom: 2px solid var(--dark);
    border-right: 2px solid var(--dark);
    border-radius: 1rem;


}
.content article {
    font-family: var(--sans);
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 60%;

    border-radius: 1rem;
    
    padding: 1rem;
}
.content.rev{
    flex-direction: row-reverse;
}

.content3{
    height: 300px;
    background-color: var(--light);
}

@media (max-width: 800px){
    .content{
        flex-direction: column;
        justify-content: center;
    }
    .content img{
        width: 40%;
        padding: 1rem;
        border-bottom-right-radius: none;
    }
    .content article{
        width: 90%;
        padding: 1rem;
    }
    .content.rev{
        flex-direction: column;
        justify-content: center;
    }
    
}
