
:root{
    --dark: #364182;
    --mddark: #e07dd1;
    --medium: #EDAAF0;
    --light: #fac2c2;
    --red: #ff5757;
    --orange: #ff5789;
    /*--sans: 'Oxygen', sans-serif;*/

    --sans: 'League Spartan', sans-serif;
    --mono: 'Oxygen Mono', monospace;
}


body{
    font-family: var(--sans);
    padding: 0;
    margin: 0;
}

/*-------------------------Navigator bar-------------------------*/

nav{
    display: flex;
    /*position: fixed;*/
    width: 100%;
    align-items: center;
    background-color: var(--light);
    padding: 1rem 2rem 1rem 2rem;
}
nav a{
    display: flex;
    color: var(--dark);
    text-decoration: none;
}
nav a:hover{
    color: var(--mddark);
}

nav h2{
    display: flex;
    font-size: 3rem;
    flex-basis: 100%;
    margin: 0;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-stretch: expanded;
}

nav ul{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    gap: 1rem;
    list-style: none;
    font-weight: bold;
}

nav i{
    font-size: 1.8rem;
}

/*-------------------------Main content-------------------------*/

.content{
    height: 300px;
    background-color: var(--light);
}
.content2{
    height: 300px;
    background-color: var(--light);
}
.content3{
    height: 300px;
    background-color: var(--light);
}

@media (max-width: 800px){
    body{
        width: 100%;
    }
    nav{
        flex-direction: column;
        padding: 2rem 0 2rem 0;
    }
    nav ul{
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }
}

.sep{
    background: rgb(255,87,87);
    background: linear-gradient(90deg, rgba(255,87,87,1) 20%, rgba(54,65,130,1) 50%);/*
    background-color: var(--dark);*/
    height: 2px;
}