
:root{
    --dark: #364182;
    --mddark: #e07dd1;
    --medium: #EDAAF0;
    --light: white;
    /*--light: #fcd6d6;*/
    /*--light: #fac2c2;*/
    --red: #ff5757;
    --orange: #ff5789;
    /*--sans: 'Oxygen', sans-serif;*/

    --sans: 'League Spartan', sans-serif;
    --mono: 'Oxygen Mono', monospace;
}


body{
    font-family: var(--sans);
    padding: 0;
    margin: 0;
    background-color: var(--light);
}

/*-------------------------Navigator bar-------------------------*/

nav{
    display: flex;
    flex-direction: column;
    /*position: fixed;
    top: 0;*/
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: flex-start;
    background-color: var(--light);
}

.nav-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0 0 0 1em;
}
nav a{
    display: flex;
    color: var(--dark);
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}
nav a:hover{
    color: var(--mddark);
}

nav ul li a{
    padding: 2rem;
}

nav ul li a:hover{
    color: var(--light);
    background-color: var(--red);
}

nav h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 3rem;
    flex-basis: 100%;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
}


.underline{
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: var(--mddark);
}

.underline:hover{
    text-decoration-color: var(--dark);
}


nav ul{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0; 
    padding: 0;
}

nav ul li{
    /*gap: 1rem;*/
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}



/* Botonera prototipo
nav ul li:first-child{
    padding: 1rem 2rem 1rem 2rem;
    border: 1px red solid;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}
nav ul li:nth-child(1n){
    padding: 1rem 2rem 1rem 2rem;
    border: 1px red solid;
}
nav ul li:last-child{
    padding: 1rem 2rem 1rem 2rem;
    border: 1px red solid;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
*/

nav i{
    font-size: 1.8rem;
}
/*-------------------------Intro -------------------------*/

.intro{
    font-size: 2rem;
    font-family: var(--sans);
    color: var(--light);
    /*margin-top: 6rem;*/
    padding: 2rem;
    display: flex;
    justify-content: center;

    background-image: url("./images/tools.jpg");
    background-size: cover;
}
.intro p{
    text-align: center;
    flex-basis: 50%;
    line-height: 150%;
    text-shadow: 0 0 1rem var(--dark);
}


/*-------------------------Main content-------------------------*/

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.content img {
    width: 20%;

    padding: 1rem;

    border-bottom: 2px solid var(--dark);
    border-right: 2px solid var(--dark);
    border-radius: 1rem;


}
.content article {
    font-family: var(--mono);
    font-size: 1rem;
    line-height: 1.5rem;
    width: 60%;
    
    /*background-color: var(--red);
    color: var(--light);*/

    border-radius: 1rem;
    
    padding: 1rem;
}

.content.first{
    padding-top: 100px;
}

.content.rev{
    flex-direction: row-reverse;
}

.content3{
    height: 300px;
    background-color: var(--light);
}


/* About page */

.about img{
    width: 40%;
    border-radius: 50%;
}

.about h3{
    color: var(--red);
}

.about ul{
    list-style: none;
    padding: 0;
}

.resume-download{
    display: flex;
    justify-content: center;
}

.resume-download a{
    border: none;
    border-radius: 0.5rem;
    background-color: var(--red);
    padding: 1rem;
    margin: 0 0 2rem 0;
    color: var(--light);
    
    text-decoration: none;
    font-family: var(--sans);
    font-size: 1rem;
}
.resume-download a:hover{
    background-color: var(--mddark);
}

.resume-download a:active{
    background-color: var(--dark);
}


@media (max-width: 800px){
    body{
        width: 100%;
        height: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem 0 1rem 0;
        justify-items: center;
        width: 100%;
        border-bottom: var(--dark) 3px solid;
    }
    .nav-row{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    nav ul{
        padding: 0;
        width: 100%;
        /*justify-content: space-around;*/
    }
    nav ul li i{
        font-size: auto;
        padding: 0;
    }
    nav ul li a{
        margin: 0;
        padding: 0.5rem;
    }
    nav h2 a{
        display: flex;
        width: 100%;
        margin: 0;
        font-size: 2rem;
        padding: 1rem 0 1rem 0;
        justify-items: center;
    }
    .sep.fixed{
        display: none;
    }
    .content{
        flex-direction: column;
        justify-content: center;
    }
    .content img{
        width: 40%;
        padding: 1rem;
        border-bottom-right-radius: none;
    }
    .content.first{
        padding-top: 200px;
    }
    .content article{
        width: 90%;
        padding: 1rem;
    }
    .content.rev{
        flex-direction: column;
        justify-content: center;
    }
    
    .about img{
        width: 80%;
        border-bottom: var(--dark) 2px solid;
        border-right: var(--dark) 2px solid;
    }

    .intro{
        /*margin-top: 8rem;*/
        font-size: 1.5rem;
        padding: 1rem;
    }

}

@media (max-width: 280px){
    body{
        width: 100%;
        height: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: center;
        gap: 1rem;
    }
    nav ul li i{
        font-size: 3rem;
    }

    nav h2 a{
        display: flex;
        width: 100%;
        margin: 0;
        font-size: 1.6rem;
        padding: 1rem 0 1rem 0;
        justify-items: center;
    }
}

.sep{/*
    background: rgb(255,87,87);
    background: linear-gradient(90deg, rgba(255,87,87,1) 20%, rgba(54,65,130,1) 50%);/*
    background-color: var(--dark);*/
    background: var(--light);
    background: linear-gradient(90deg, var(--light) 33%, rgba(54,65,130,1) 66%);
    height: 2px;
    margin: 0;
    padding: 0;
}

.sep.rev{
    background: var(--light);
    background: linear-gradient(90deg, rgba(54,65,130,1) 33%, var(--light) 66%);
    height: 2px;
    margin: 0;
    padding: 0;
}

.sep.fixed{
   /* background: rgb(250,194,194);
    background: linear-gradient(90deg, rgba(250,194,194,1) 33%, rgba(54,65,130,1) 66%);*/
    position: fixed;
    display: none;
    height: 2px;
    width: 100%;
    top: 5.75rem;
    padding: 0;
}

/*-------------------------Footer-------------------------*/
footer{
    background-color: var(--medium);
}

footer ul{
    width: auto;
    padding: 1rem 0 1rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 900;
}

footer a:hover{
    color: var(--red);
}

